# .NET build artifacts
bin/
obj/
*.user
*.suo
*.cache
*.log

# Visual Studio
.vs/
*.sln.docstates

# Rider
.idea/

# CircuitPython bytecode
*.mpy

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# C++ / CMake build artifacts
build/
*.elf
*.uf2
*.bin
*.hex
*.map
*.dis
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json
